body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
	overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #202327;
}
::-webkit-scrollbar-thumb {
  background-color: #363a41;
}

.select-none {
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

.draggable {
  -webkit-app-region: drag;
}

.container {
  height: 100%;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
